@page "/importar/fornecedores"
@inject FornecedorImportacaoApiService ImportacaoService
@inject NotificationService NotificationService
@inject NavigationManager NavigationManager

@using ByTescaro.ConstrutorApp.Application.Utils
@using ByTescaro.ConstrutorApp.Application.DTOs
@using ByTescaro.ConstrutorApp.UI.Services
@using Microsoft.AspNetCore.Components.Forms
@using Radzen

<RadzenCard Style="max-width: 1300px; margin: auto; padding: 2rem;">
    <RadzenHeading Size="H4" Text="Importador de Fornecedores" />

    <!-- Upload Excel -->
    <div class="rz-mb-4" style="display: flex; gap: 1rem; align-items: center;">
        <div style="position: relative; display: inline-block;">
            <RadzenButton Text="Selecionar Excel"
                          Icon="upload"
                          ButtonStyle="ButtonStyle.Primary"
                          class="rz-button-md rz-button-solid"
                          style="pointer-events: none; opacity: 1; position: relative; z-index: 1;" />
            <InputFile OnChange="OnFileSelected"
                       accept=".xlsx,.xls"
                       style="position: absolute; width: 100%; height: 100%; top: 0; left: 0; opacity: 0; cursor: pointer; z-index: 2;" />
        </div>



        <RadzenButton Text="Modelo de Importação"
                      Icon="file_download"
                      ButtonStyle="ButtonStyle.Secondary"
                      Click="@DownloadModeloImportacao" />
    </div>

@*     <RadzenFieldset Text="Atenção" Style="margin-bottom: 1.5rem">
        <RadzenRow Class="rz-p-4" Style="row-gap: 1rem;">
            <RadzenColumn Size="6" SizeMD="6">
                <RadzenText TextStyle="TextStyle.Body1" wid="3">
                    <p>
                        <strong>Na coluna TipoPessoa:</strong>
                        <ul>
                            <li>Coloque <strong>Fisica</strong> para <strong>Pessoa Física</strong></li>
                            <li>Coloque <strong>Juridica</strong> para <strong>Pessoa Jurídica</strong></li>
                        </ul>
                    </p>
                </RadzenText>

            </RadzenColumn>

            <RadzenColumn Size="6" SizeMD="6">
                <RadzenText TextStyle="TextStyle.Body1" wid="3">
                    <p>
                        <strong>Na coluna TipoFornecedor:</strong>
                        <ul>
                            <li>Coloque <strong>1</strong> para <strong>Material</strong></li>
                            <li>Coloque <strong>2</strong> para <strong>Serviço</strong></li>
                            <li>Coloque <strong>3</strong> para <strong>Meterial e Serviço</strong></li>
                        </ul>
                    </p>
                </RadzenText>
            </RadzenColumn>
        </RadzenRow>
    </RadzenFieldset> *@



    <!-- Preview Editável -->
    @if (fornecedoresPreview?.Any() == true)
    {
        <RadzenDataGrid TItem="FornecedorDto" Data="@fornecedoresPreview" @ref="grid" Editable="true" EditMode="DataGridEditMode.Single" AllowFiltering="true"
                        AllowColumnResize="true"
                        AllowSorting="true"
                        PageSize="10"
                        AllowPaging="true"
                        PagerHorizontalAlign="HorizontalAlign.Left"
                        ShowPagingSummary="true"
                        FilterMode="FilterMode.Advanced"
                        Responsive="true"
                        EmptyText="Não contém registros."
                        ColumnWidth="250px">
            <Columns>
                <RadzenDataGridColumn TItem="FornecedorDto" Property="Nome" Title="Nome" />
                <RadzenDataGridColumn TItem="FornecedorDto" Title="Tipo de Pessoa">
                    <Template Context="e">
                        @EnumHelper.ObterDescricaoEnum(e.TipoPessoa)
                    </Template>
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="FornecedorDto" Property="CpfCnpj" Title="CNPJ/CPF" />
                <RadzenDataGridColumn TItem="FornecedorDto" Property="TelefonePrincipal" Title="Telefone Principal" />
                <RadzenDataGridColumn TItem="FornecedorDto" Property="TelefoneWhatsApp" Title="Telefone WhastApp" />
                <RadzenDataGridColumn TItem="FornecedorDto" Property="Email" Title="Email" />
                <RadzenDataGridColumn TItem="FornecedorDto" Title="Tipo de Fornecedor">
                    <Template Context="e">
                        @EnumHelper.ObterDescricaoEnum(e.TipoFornecedor)
                    </Template>
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="FornecedorDto" Property="CEP" Title="CEP" />
                <RadzenDataGridColumn TItem="FornecedorDto" Property="Logradouro" Title="Logradouro" />
                <RadzenDataGridColumn TItem="FornecedorDto" Property="Numero" Title="Número" />
                <RadzenDataGridColumn TItem="FornecedorDto" Property="Bairro" Title="Bairro" />
                <RadzenDataGridColumn TItem="FornecedorDto" Property="Complemento" Title="Complemento" />
                <RadzenDataGridColumn TItem="FornecedorDto" Property="Cidade" Title="Cidade" />
                <RadzenDataGridColumn TItem="FornecedorDto" Property="Estado" Title="Estado" />
                <RadzenDataGridColumn TItem="FornecedorDto" Property="UF" Title="UF" />




                <RadzenDataGridColumn TItem="FornecedorDto">
                    <Template Context="fornecedor">
                        <RadzenButton Icon="edit" Size="ButtonSize.Small" Click="() => grid.EditRow(fornecedor)" Text="Editar" />
                    </Template>
                    <EditTemplate Context="fornecedor">
                        <RadzenButton Icon="check" Size="ButtonSize.Small" Click="() => grid.UpdateRow(fornecedor)" Text="Salvar" />
                        <RadzenButton Icon="close" Size="ButtonSize.Small" Click="() => grid.CancelEditRow(fornecedor)" Text="Cancelar" />
                    </EditTemplate>
                </RadzenDataGridColumn>
            </Columns>
        </RadzenDataGrid>

        <RadzenButton Text="Importar"
                      Style="margin-top: 1.5rem"
                      Icon="upload"
                      ButtonStyle="ButtonStyle.Primary"
                      Click="@Importar" />
    }

    <!-- Lista de Erros -->
    @if (errosImportacao?.Any() == true)
    {
        <RadzenPanel Text="Erros encontrados durante a importação" Style="margin-top:2rem;">
            <ul>
                @foreach (var erro in errosImportacao)
                {
                    <li><b>@erro.Referencia:</b> @erro.Mensagem</li>
                }
            </ul>
        </RadzenPanel>
    }
</RadzenCard>

@code {
    private List<FornecedorDto> fornecedoresPreview = new();
    private List<ErroImportacaoDto> errosImportacao = new();
    private RadzenDataGrid<FornecedorDto>? grid;

    async Task OnFileSelected(InputFileChangeEventArgs args)
    {
        try
        {
            var file = args.File;
            if (file == null)
            {
                NotificationService.Notify(NotificationSeverity.Warning, "Atenção", "Nenhum arquivo selecionado.");
                return;
            }

            using var stream = file.OpenReadStream();
            fornecedoresPreview = await ImportacaoService.PreviewExcelFornecedoresAsync(stream, file.Name);

            NotificationService.Notify(NotificationSeverity.Success, "Pré-visualização pronta", "Dados carregados com sucesso.");
        }
        catch (Exception ex)
        {
            NotificationService.Notify(NotificationSeverity.Error, "Erro", ex.Message);
        }
    }

    async Task Importar()
    {
        try
        {
            errosImportacao = await ImportacaoService.ImportarFornecedoresAsync(fornecedoresPreview);

            if (errosImportacao.Count == 0)
            {
                fornecedoresPreview.Clear();
                NotificationService.Notify(new NotificationMessage { Severity = NotificationSeverity.Success, Summary = "Sucesso", Detail = "Todos os fornecedores foram importados!", Duration = 4000 });
            }
            else
            {
                NotificationService.Notify(NotificationSeverity.Warning, "Importação parcial", "Alguns fornecedores não foram importados.");
            }
        }
        catch (Exception ex)
        {
            NotificationService.Notify(NotificationSeverity.Error, "Erro ao importar", ex.Message);
        }
    }


    private void DownloadModeloImportacao()
    {
        NavigationManager.NavigateTo("/modelos/Modelo_Importacao_Fornecedores.xlsx", true);
    }
}
